<%= form_with model: pet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "select" %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :date_found %>
  <%= f.date_field :date_field %>
  <%= f.label :species %>
  <%= f.select :species, collection: Pet::SPECIES %>
  <%= f.submit %>
<% end %>

<div class="container">
  <%= simple_form_for pet do |f| %>
    <%= f.input :name , input_html: { class: "select" }%>
    <%= f.input :age %>
    <%= f.input :date_found %>
    <%= f.input :species, collection: Pet::SPECIES  %>
    <%= f.submit %>
  <% end %>

</div>
